@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Rowdies:wght@300&display=swap');
/* html selectors */
nav a {
    text-align: center;
    color:#55a3b0;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #004f88;
    color:#55a3b0;
}
main section {
    text-align: center;
}
body {
    background-color: #f6eada;
    font-size: 22px;
    padding: 0;
    margin: 0;
    font-family:'lato' sans-serif;
}
header {
    background-color: #396e94;
}
footer {
    background-color:#55a3b0;
    padding:25px 50px ;
    margin-top: 200px;
}
footer h3 {
    color: #004f88;
}
footer h3 a:hover {
    text-decoration: underline;
}
footer a {
    color: #004f88;
    text-decoration: none;
}
footer a:hover {
    color: #55a3b0;
}
footer .social img {
    padding-top: 15px;
}
h4 {
    color: #004f88;
}
h2 {
    margin: 0;
}
main section img {
    box-sizing: border-box;
}
/* class selector */
.button.box {
    text-align: center;
}
.book, .join {
    background-color:#f6eada;
    color: #004f88;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color:#622f74;
    color: #55a3b0;
}
.join:hover {
    background-color:#622F74;
    color: #55a3b0;
}
.msg {
    background-color:#f6eada;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: #004f88;
    font-family: 'Rowdies', cursive;
}
.msg p {
    color: #004f88;
    font-size: .8em;
    padding-bottom: 15px;
}
.home-title {
    color: #004f88;
    font-family: 'Rowdies', cursive;
    font-size: 2em;
    margin-top: 10px;
}
.logo {
    width: 90px;
    border-radius: 50%;
}
.icon {
    width: 90px;
    padding-top: 10px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black;
}
/* id selectors */
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#background {
    height: 725px;
    background-color:#483970;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#hero-img {
    width: 100%;
}
#logo_link {
    padding-top: 5px;
}